@layer reset, base, tokens, recipes, utilities;

@font-face {
  font-family: 'SUITE Variable';
  font-weight: 300 900;
  src: url('./fonts/SUITE-Variable-woff2/SUITE-Variable.woff2') format('woff2-variations');
}

:root {
  --font-suite: 'SUITE Variable', sans-serif;
}
